@import "vendor/google-fonts";
@import "vendor/normalize";

$link-color: #2d7ddc;

html {
  font-family: Roboto, "helvetica neue", helvetica, arial, sans-serif;
  color: #4a4a4a;
  font-size: 16px;
}

body {
  font-size: 1em;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #ededed;
  cursor: pointer;
  transition: 250ms ease-out;
  transition-property: border-color;

  &:hover {
    border-bottom-color: $link-color;
  }
}

a, a:hover, a:visited {
  color: $link-color;
}

h1 {
  line-height: 1.35;
}

p, ul, ol {
  line-height: 1.5;
}

.nowrap {
  white-space: nowrap;
}

.browsehappy {
  margin: 0;
  padding: 1rem;
  background: #ff9389;
  color: #000;
  text-align: center;
  
  a {
    border-bottom-color: #ff9389;

    &:hover {
      border-bottom-color: $link-color;
    }
  }
}

footer {
  color: #b5b5b5;
  font-size: 0.7em;
  text-align: center;
  margin: 15px;
}