@import "base";

#introduction {
  h2 {
    color: #000;
    font-weight: normal;
    margin: 1.1em 0 0.45em 0;
  }

  ul {
    list-style: none;
    margin: 0.45em 0;
    padding-left: 20px;

    li {
      position: relative;

      &:before {
        color: #b5b5b5;
        content: "*";
        left: -1.1rem;
        position: absolute;
        top: 0.15rem;
      }

      strong {
        color: $default-text-color;
      }

      .second-choice {
        color: #b5b5b5;
      }
    }

    &.work-history {
      .duration-and-location {
        color: #b5b5b5;
      }
    }

    &.spare-time {
      .comment {
        color: #b5b5b5;
      }
    }
  }
}

#contact-me {
  margin: 3.2rem 0;
}

#social-icons {
  text-align: center;
  margin: 3.5rem 0 2.5rem 0;

  a {
    border: 0;

    img {
      height: 3rem;
      width: 3rem;
      margin: 0 5px;
    }
  }
}