@import "base";

#content, footer {
  margin: 20px 15px;
  max-width: 41rem;
}

#introduction {
  .portrait {
    padding-bottom: 20px;
    text-align: center;
    height: 8rem;

    img {
      height: 8rem;
      width: 8rem;
    }
  }

  h1 {
    font-size: 1.46em;
    font-weight: normal;
    text-align: left;
    margin: 0 0 3.2rem 0;
  }

  strong, h2 {
    color: #000;
  }

  h2 {
    font-weight: normal;
    margin: 1.1em 0 0.45em 0;
  }

  ul {
    list-style: none;
    margin: 0.45em 0;
    padding-left: 20px;

    li {
      position: relative;

      &:before {
        color: #b5b5b5;
        content: "*";
        left: -1.1rem;
        position: absolute;
        top: 0.15rem;
      }

      strong {
        color: #4a4a4a;
      }

      .second-choice {
        color: #b5b5b5;
      }
    }

    &.work-history {
      .duration-and-location {
        color: #b5b5b5;
      }
    }

    &.spare-time {
      .comment {
        color: #b5b5b5;
      }
    }
  }
}

#contact-me {
  margin: 3.2rem 0;
}

#social-icons {
  text-align: center;
  margin: 3.5rem 0 2.5rem 0;

  a {
    border: 0;

    img {
      height: 3rem;
      width: 3rem;
      margin: 0 5px;
    }
  }
}

@media (min-width: 540px) {
  #introduction {
    h1 {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 600px) {
  #content, footer {
    margin: 25px;
  }

  #introduction {
    .portrait {
      padding-bottom: 25px;
    }
    h1 {
      font-size: 1.6em;
    }
  }
}

@media (min-width: 700px) {
  #content, footer {
    margin: 25px auto;
  }

  #introduction {
    h1 {
      font-size: 1.72em;
    }
  }
}

@media (min-width: 860px) {
  #introduction {
    ul {
      padding-left: 0;

      li:before {
        left: -1.3rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  #content, footer {
    margin: 40px auto;
  }

  #introduction {
    .portrait {
      padding-bottom: 40px;
      height: 8.5rem;

      img {
        height: 8.5rem;
        width: 8.5rem;
      }
    }
  }
}

@media (min-width: 1380px) {
  #introduction {
    position: relative;

    .portrait {
      position: absolute;
      left: -10.3rem;
    }

    h1 {
      padding: 1.15rem 0 1.15rem 0;
    }
  }
}