---
title: I'm Thomas Marek
description: Hello, I'm Thomas Marek. Pragmatic minded Web Application Developer.
inline_stylesheet: normal.css
---
<div id="introduction">
  <div class="portrait">
    <img src="images/portrait-white-background.jpg">
  </div>
  <h1>Hello, I'm <strong class="nowrap">Thomas Marek</strong>.</h1>
  <h2>Pragmatic minded <strong class="nowrap">Web Application Developer</strong>.</h2>
</div>
<p>
  If you want to get in touch feel free to <a href="mailto:thomas_marek@gmx.net">email me</a>.
</p>
<div id="social_icons">
  <a href="https://github.com/tmak" title="Follow me GitHub" target="_blank"><img src="images/github.svg"></a>
  <a href="http://www.linkedin.com/in/thomasmarekrubydeveloper" title="Connect with me on LinkedIn" target="_blank"><img src="images/linkedin.svg"></a>
</div>