---
title: Thomas Marek - Pragmatic minded Web Application Developer
description: Ten years of experience designing and developing state-of-the-art Web Applications, with Ruby on Rails, Sinatra, Node.js, Middleman, AWS, Heroku and more.
inline_stylesheet: home.css
sitemap_lastmod: 2014-05-18
sitemap_changefreq: weekly
body_class: home
container_tag_attributes: itemscope itemtype="http://schema.org/Person"
header_headshot_tag_attributes: itemprop="image"
---
<% content_for :header do %>
  <h1 class="two-lines">
    Hello, I'm <strong class="nowrap" itemprop="name">Thomas Marek</strong>.<br>
    Pragmatic minded <strong class="nowrap" itemprop="jobTitle">Web Application Developer</strong>.
  </h1>
<% end %>

<div id="introduction">
  <h2>Weapons of choice</h2>
  <ul class="weapons-of-choice">
    <li>Agile Development, BDD, Kanban, <span class="second-choice">Scrum</span>, Responsive Design</li>
    <li>Ruby, JavaScript, <span class="second-choice">CoffeeScript</span>, <span class="second-choice">Python</span>, <span class="second-choice">C++</span></li>
    <li><span class="nowrap">Ruby on Rails</span>, Sinatra, Node.js, Middleman</li>
    <li>Active Admin, Sidekiq, RSpec, FactoryGirl, Capybara, jQuery, Underscore.js, ...</li>
    <li>PostgreSQL, <span class="second-choice">MySQL</span>, MongoDB, Memcached</li>
    <li>AWS (Route 53, CloudFront, S3, EC2), Heroku, Ansible, <span class="second-choice">Puppet</span>, Vagrant, Nginx, <span class="second-choice nowrap">Apache httpd</span>, Varnish, Unicorn, <span class="second-choice nowrap">Phusion Passenger</span>, <span class="second-choice">Jenkins</span></li>
    <li>Trello, <span class="second-choice">Pivotal Tracker</span>, Google Analytics, <span class="nowrap">New Relic</span>, NodePing, Bugsnag</li>
    <li>RubyMine, <span class="second-choice">Atom</span>, Photoshop, Git</li>
    <li>OS X, <span class="second-choice">Linux</span>, <span class="second-choice">Windows</span></li>
    <li>MacBook Air</li>
  </ul>

  <h2>Weapons in assessment</h2>
  <ul class="weapons-in-assessment">
    <li>Elixir, CouchDB, PhoneGap, Illustrator</li>
  </ul>

  <h2>Work history</h2>
  <ul class="work-history">
    <li><strong class="nowrap">Web Application Developer</strong> as a Freelancer <span class="duration-and-location">(<span class="nowrap">1 year and counting;</span> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span class="nowrap"><span itemprop="addressLocality">Cologne</span>, <span itemprop="addressCountry">Germany</span></span></span>)</span></li>
    <li><strong class="nowrap">Lead Web Application Developer</strong> at <a href="http://www.uswitch.ie" target="_blank" rel="nofollow">uSwitch.ie</a> <span class="duration-and-location">(<span class="nowrap">1 year;</span> <span class="nowrap">Dublin, Ireland</span>)</span></li>
    <li><strong class="nowrap">Software Developer</strong> and <strong class="nowrap">Scrum Master</strong> at <a href="http://www.biosolveit.de" target="_blank" rel="nofollow">BioSolveIT GmbH</a> <span class="duration-and-location">(<span class="nowrap">10 years;</span> <span class="nowrap">Cologne, Germany</span>)</span></li>
  </ul>

  <h2>Source code examples</h2>
  <ul class="work-examples">
    <li>
      <a href="https://github.com/tmak/iamthomasmarek.com" target="_blank" rel="nofollow">This website</a>. It's build with Middleman and hosted on AWS (Route 53, CloudFront, S3). The design is responsive (mobile first).
    </li>
    <li>
      I'm the original author of the Ruby gem <a href="https://github.com/openphacts/ops_gems" target="_blank" rel="nofollow">ops_gems</a>.
      I created it while working for the <span class="nowrap">EU-funded</span> Project <a href="http://www.openphacts.org" target="_blank" rel="nofollow">Open PHACTS</a>.
    </li>
    <li>
      One of my public <a href="https://github.com/uswitch/rack-ssi/pull/1" target="_blank" rel="nofollow">GitHub pull requests</a>.
    </li>
  </ul>

  <h2>Spare-time activities</h2>
  <ul class="spare-time">
    <li>Eating nonfiction books for lunch <span class="comment">(<a href="/my-bookshelf/">checkout my bookshelf</a>)</span></li>
    <li>Listening to <a href="http://www.thisamericanlife.org" target="_blank" rel="nofollow">This American Life</a></li>
    <li>Basketball <span class="comment">(watching and playing)</span></li>
    <li>P90X <span class="comment">(let's say it's a love-hate relationship)</span></li>
  </ul>
</div>
<div id="contact-me">
  <p>
    You can also <a href="/Thomas_Marek-Resume.pdf" target="_blank">download my resume</a>.<br>
    If you want to get in touch, feel free to <a href="mailto:hello@iamthomasmarek.com">email me</a>.
  </p>
</div>
<div id="social-icons">
  <a href="https://github.com/tmak" title="Follow me on GitHub" target="_blank" rel="me"><img src="/images/github.svg" alt="GitHub"></a>
  <a href="http://www.linkedin.com/in/thomasmarekrubydeveloper" title="Connect with me on LinkedIn" target="_blank" rel="me"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
  <a href="https://plus.google.com/101832935727318955683/about" title="Connect with me on Google+" target="_blank" rel="me"><img src="/images/google-plus.svg" alt="Google+"></a>
</div>

<meta itemprop="givenName" content="Thomas">
<meta itemprop="familyName" content="Marek">
<meta itemprop="nationality" content="German">
<meta itemprop="gender" content="male">
<meta itemprop="url" content="http://iamthomasmarek.com">
<meta itemprop="email" content="hello@iamthomasmarek.com">