---
title: Hello, I'm Thomas Marek
description: Pragmatic minded Web Application Developer.
inline_stylesheet: normal.css
---
<div id="introduction">
  <div class="portrait">
    <img src="images/portrait-white-background.jpg">
  </div>
  <h1>
    Hello, I'm <strong class="nowrap">Thomas Marek</strong>.<br>
    Pragmatic minded <strong class="nowrap">Web Application Developer</strong>.
  </h1>

  <h2>Weapons of choice</h2>
  <ul class="weapons-of-choice">
    <li>Agile Development, BDD, Kanban, <span class="second-choice">Scrum</span>, Responsive Design</li>
    <li>Ruby, JavaScript, <span class="second-choice">Python</span>, <span class="second-choice">C++</span></li>
    <li><span class="nowrap">Ruby on Rails</span>, Sinatra, Node.js, Middleman</li>
    <li>Active Admin, Sidekiq, RSpec, FactoryGirl, Capybara, jQuery, Underscore.js, ...</li>
    <li>PostgreSQL, <span class="second-choice">MySQL</span>, MongoDB, CouchDB, Memcached</li>
    <li>AWS (Route 53, CloudFront, EC2, S3), Heroku, Puppet, Nginx, <span class="second-choice nowrap">Apache httpd</span>, Varnish, <span class="nowrap">Phusion Passenger</span>, <span class="second-choice">Jenkins</span></li>
    <li>Trello, <span class="second-choice">Pivotal Tracker</span>, Google Analytics, <span class="nowrap">New Relic</span>, NodePing, Bugsnag</li>
    <li>RubyMine, <span class="second-choice">Atom</span>, Photoshop, Illustrator, Git</li>
    <li>OS X, <span class="second-choice">Linux</span>, <span class="second-choice">Windows</span></li>
  </ul>

  <h2>Weapons in assessment</h2>
  <ul class="weapons-of-choice">
    <li>Ember.js, AngularJS, CouchDB, Illustrator, PhoneGap</li>
  </ul>

  <h2>Work history</h2>
  <ul class="work-history">
    <li><strong class="nowrap">Web Application Developer</strong> as a Freelancer <span class="duration-and-location">(<span class="nowrap">1 year and counting;</span> <span class="nowrap">Cologne, Germany</span>)</span></li>
    <li><strong class="nowrap">Lead Web Application Developer</strong> at <a href="http://www.uswitch.ie" target="_blank" rel="nofollow">uSwitch.ie</a> <span class="duration-and-location">(<span class="nowrap">1 year;</span> <span class="nowrap">Dublin, Ireland</span>)</span></li>
    <li><strong class="nowrap">Software Developer</strong> and <strong class="nowrap">Scrum Master</strong> at <a href="http://www.biosolveit.de" target="_blank" rel="nofollow">BioSolveIT GmbH</a> <span class="duration-and-location">(<span class="nowrap">10 years;</span> <span class="nowrap">Cologne, Germany</span>)</span></li>
  </ul>

  <h2>Source code examples</h2>
  <ul class="work-examples">
    <li>
      <a href="https://github.com/tmak/iamthomasmarek.com" target="_blank" rel="nofollow">This website</a>. It's build with Middleman and hosted on AWS (Route 53, CloudFront, S3). The design is responsive (mobile first).
    </li>
    <li>
      I'm the original author of the Ruby gem <a href="https://github.com/openphacts/ops_gems" target="_blank" rel="nofollow">ops_gems</a>.
      I created it while working for the <span class="nowrap">EU-funded</span> Project <a href="http://www.openphacts.org" target="_blank" rel="nofollow">Open PHACTS</a>.
    </li>
    <li>
      One of my public <a href="https://github.com/uswitch/rack-ssi/pull/1" target="_blank" rel="nofollow">GitHub pull requests</a>.
    </li>
  </ul>

  <h2>Spare-time activities</h2>
  <ul class="spare-time">
    <li>Eating nonfiction books for lunch</li>
    <li>Listening to <a href="http://www.thisamericanlife.org" target="_blank" rel="nofollow">This American Life</a></li>
    <li>Basketball <span class="comment">(watching and playing)</span></li>
    <li>P90X <span class="comment">(let's say it's a love-hate relationship)</span></li>
  </ul>
</div>
<div id="contact-me">
  <p>
    If you want to get in touch, feel free to <a href="mailto:hello@iamthomasmarek.com">email me</a>.
  </p>
</div>
<div id="social-icons">
  <a href="https://github.com/tmak" title="Follow me on GitHub" target="_blank"><img src="images/github.svg"></a>
  <a href="http://www.linkedin.com/in/thomasmarekrubydeveloper" title="Connect with me on LinkedIn" target="_blank"><img src="images/linkedin.svg"></a>
  <a href="https://plus.google.com/101832935727318955683/about" title="Connect with me on Google+" target="_blank"><img src="images/google-plus.svg"></a>
</div>