---
title: Thomas Marek's bookshelf - Pragmatic minded Senior Software Engineer
description: I'm a pragmatic minded Senior Software Engineer with ten years of experience and that are some of the books I enjoyed reading and recommend.
inline_stylesheet: bookshelf.css
sitemap_lastmod: 2014-05-18
sitemap_changefreq: weekly
body_class: bookshelf
---
<% content_for :header do %>
  <h1 class="two-lines">
    <strong>My Bookshelf</strong>.<br>
    Some of the books I enjoyed reading and recommend.
  </h1>
<% end %>

<div id="bookshelf">
  <% books.each do |book| %>
    <a href="<%= book["url"] %>" target="_blank" rel="nofollow">
      <img src="/images/books/<%= book["image"] %>" alt="<%= "#{book["title"]} by #{book["authors"].to_sentence}" %>">
    </a>
  <% end %>
</div>