---
title: Hello, I'm Thomas Marek and that's my bookshelf
description: I'm a pragmatic minded Web Application Developer with ten years of experience and that are some books I highly recommend to other developers.
inline_stylesheet: bookshelf.css
sitemap_lastmod: 2014-05-14
sitemap_changefreq: weekly
body_class: bookshelf
---
<% content_for :header do %>
  <h1 class="two-lines">
    <strong>My Bookshelf</strong>.<br>
    Some of the books I enjoyed reading and recommend.
  </h1>
<% end %>
<div id="bookshelf">
  <% books.each do |book| %>
    <a href="<%= book["url"] %>" target="_blank" rel="nofollow">
      <img src="/images/books/<%= book["image"] %>" alt="<%= "#{book["title"]} by #{book["authors"].to_sentence}" %>">
    </a>
  <% end %>
</div>